<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Free Design Template - Free CSS Template</title>
    <meta name="keywords" content="free design template, CSS template, HTML website">
    <meta name="description" content="Free Design Template, Free CSS Website, XHTML CSS layout">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.core.js" th:src="@{/zTree_v3/js/jquery.ztree.core.js}"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.excheck.js" th:src="@{/zTree_v3/js/jquery.ztree.excheck.js}"></script>
    <script type="text/javascript" src="/static/zTree_v3/js/jquery.ztree.exedit.js" th:src="@{/zTree_v3/js/jquery.ztree.exedit.js}"></script>
    <link rel="stylesheet" href="/static/css/bootstrapStyle/bootstrapStyle.css" type="text/css" th:src="@{/css/bootstrapStyle/bootstrapStyle.css}">
    <script type="text/javascript" src="/static/js/transferCode.js" th:src="@{/js/transferCode.js}"></script>
    <script type="text/javascript" charset="utf-8" src="/static/text-editor/ueditor.config.js" th:src="@{/static/text-editor/ueditor.config.js}"></script>
    <script type="text/javascript" charset="utf-8" src="/static/text-editor/ueditor.all.min.js" th:src="@{/static/text-editor/ueditor.all.min.js}"> </script>
    <link href="/static/record/templatemo_style.css" rel="stylesheet" type="text/css">

    <script>
        /*游客检索*/
        var uid=1723693876;/*用户Id*/
        var password=1723693876;/*用户密码*/
        var classifyId=0;/*日志分类Id*/
        var pageNum=0;/*开始页*/
        var pageSize=10;/*结束页*/
        var startTime=null;/*搜索开始时间*/
        var endTime=null;/*搜索结束时间*/
        var keywords=null;/*搜索标题关键字*/
        var contentWords=null;/*全文搜索*/
        /*以下关键字只有登录用户才能查询*/
        var author=null;/*权限检索*/
    </script>

    <!--功能操作JS-->
    <script>
        $(function () {
            /*var initiateData=js.lang.String.decodeHtml("[[${folder}]]");*/
            /*写日志*/
            $("#writeRecord").on("click",function () {
                clearFunctionBarClass();
                setFunctionBarClass(1,"",2,"disabled",3,"disabled",4,"active");
                $("#mainContent").children().remove();
                openTextEditor();
            });
            /*主界面*/
            $("#record_Info").on("click",function () {
                clearFunctionBarClass();
                setFunctionBarClass(1,"active",2,"disabled",3,"disabled",4,"");
                $("#mainContent div").remove();
                setSelectCond(uid,password,0,0,10,null,null,null,null);
                getRecordBrief();
            });
            $("#bf0").on("click",function () {

            });
            
        });
        /*点击分类的日志*/
        function determineClassify(obj) {
            classifyId=$(obj).attr("classifyId");
            $(obj).css("color","lightblue");
            clearClassifyStyle();
            getRecordBrief();
        }
    </script>

    <!--功能性JS-->
    <script>
        /*清除顶部功能区样式*/
        function clearFunctionBarClass() {
            $("#record_mi_Index li").prop("class","");
        }
        /*设置顶部功能区样式*/
        function setFunctionBarClass(a,a1,b,b1,c,c1,d,d1) {
            $("#n"+a+"").prop("class",""+a1+"");
            $("#n"+b+"").prop("class",""+b1+"");
            $("#n"+c+"").prop("class",""+c1+"");
            $("#n"+d+"").prop("class",""+d1+"");
        }
        /*清除左边分类样式为默认样式*/
        function clearClassifyStyle() {
            $("#record_classify li").prop("class","disabled");
            $("#record_classify li a").css("color","");
        }
        /*设置查询条件*/
        function setSelectCond(id,pwd,classifyI,pageN,pageS,startT,endT,keyW,contentW,auth) {
            uid=id;
            password=pwd;
            classifyId=classifyI;
            pageNum=pageN;
            pageSize=pageS;
            startTime=startT;
            endTime=endT;
            keywords=keyW;
            contentWords=contentW;
            author=auth;
        }
        /*查询日志简要*/
        function getRecordBrief() {
            $.ajax({
                url: "/record/recordselect",
                data:{
                    "uid":uid,
                    "password":password,
                    "classifyId":classifyId,
                    "pageNum":pageNum,
                    "pageSize":pageSize,
                    "startTime":startTime,
                    "endTime":endTime
                },
                dataType:'text',
                type: 'POST',
                success: function (data) {
                    $("#mainContent").html(data);
                }
            });
        }
        /*查询单条日志*/
        function getRecordDetail() {
            $.ajax({
                url: "/record/recordSelectDetail",
                data:{
                    "uid":uid,
                    "password":password,
                    "classifyId":classifyId,
                    "pageNum":pageNum,
                    "pageSize":pageSize,
                    "startTime":startTime,
                    "endTime":endTime,
                    "keywords":keywords,
                    "contentWords":contentWords,
                    "author":author
                },
                type: 'POST',
                success: function (data) {
                    $("#mainContent").html(data);
                }
            });
        }
        /*打开文本编辑器*/
        function openTextEditor() {
            $.ajax({
                url: "/common/texteditor",
                type: 'POST',
                success: function (data) {
                    loadJs("/static/text-editor/ueditor.config.js");
                    loadJs("/static/text-editor/ueditor.all.min.js");
                    $("#mainContent").html(data);
                }
            });
        }
        function resizeMiddleLeft() {
            
        }
        function resizeMiddleRight() {

        }
    </script>

    <!--其它JS-->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        function loadJs(file){
            var head = $("head").remove("script[role='reload']");
            $("<scri"+"pt>"+"</scr"+"ipt>").attr({
                role:'reload',src:file,type:'text/javascript'}).appendTo(head);
        }
    </script>

    <!--Style-->
    <style>
        body{
            background-image: url("/static/img/login_background3.png");
            background-attachment:fixed;
            z-index: -2;
        }
        .backgroundColor{
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.15);
            background-attachment:fixed;
            z-index: -1;
        }
    </style>
</head>
<body>

<!--Index-->
<div th:replace="/record/Record::index"></div>

<!--Head-->
<div th:replace="/record/Record::top"></div>


<!--Middle-->
<div class="row">
    <!--MiddleLeft-->
    <div class="col-md-3">
        <div class="row">
        </div>
    </div>
    <!--MiddleMain-->
    <div class="col-md-6">

        <!--1层-->
        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <!--2层-->
        <div class="row">
            <!--左侧-->
            <div class="col-md-3" style="left: -10px">
                <div class="row">
                    <div class="col-md-10 templatemo_content_column_one">
                        <div th:replace="/record/Record::ml1"></div>
                        <div th:replace="/record/Record::ml2"></div>
                    </div>
                </div>
            </div>
            <!--中间-->
            <div class="col-md-6" style="left: -32px">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="/record/Record::mi"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="mainContent">
                        <div th:replace="/record/Record::mm1"></div>
                    </div>
                </div>
            </div>
            <!--右侧-->
            <div class="col-md-3" style="left: -45px">
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="/record/Record::mr1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="/record/Record::mr2"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div th:replace="/record/Record::mr3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

            </div>
        </div>

        <!--最底层-->
        <div class="row">
            <div class="col-md-12">
                <div th:replace="/record/Record::b1"></div>
            </div>
        </div>
    </div>
    <!--MiddleRight-->
    <div class="col-md-3">
        <div class="row">
        </div>
    </div>
</div>




<!--*****************************************************fragment*************************************************************-->

<div hidden="hidden">

    <div th:fragment="top" id="top">
        <!--背景-->
        <div class="backgroundColor">
        </div>
        <!--Head-->
        <div class="row">
            <div class="col-md-12">
                <div class="templatemo_header_panel">
                    <div class="templatemo_header_section">
                        <div class="templatemo_title_section">Ant Blog</div>
                        <br>
                        <div class="tagline">This is mini ant for blog</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="index" id="index">
        <!--Index-->
        <div class="row navbar navbar-fixed-top">
            <div class="col-md-12">
                <div class="templatemo_menu_panel">
                    <div class="templatemo_menu_section">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">说说</a></li>
                            <li><a href="#" class="current">日志</a></li>
                            <li><a href="#">相册</a></li>
                            <li><a href="#">留言</a></li>
                            <li><a href="#" class="last">个人档</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="ml1" id="ml1">
        <h1>&nbsp;▶日志分类◀</h1>
        <ul id="record_classify" th:each="c:${classify}">
            <li>&nbsp;<a href="#"
                   th:classifyId="${c.classifyId}"
                   th:fid="${c.fid}"
                   th:userId="${c.userId}"
                   th:classifyName="${c.classifyName}"
                   th:comment="${c.comment}"
                   th:author="${c.author}"
                   th:level="${c.level}"
                   th:updateTime="${c.updateTime}"
                   th:isvalid="${c.isvalid}"
                   th:text="${c.classifyName}"
                   data-toggle="tooltip"
                   data-placement="right"
                   th:title="${c.comment}"
                   onclick="determineClassify(this)"
            ></a></li>
        </ul>
        <div class="cleaner_with_divider">&nbsp;
        </div>
    </div>

    <div th:fragment="ml2" id="ml2">
        <h1>&nbsp;▶时间轴◀</h1>
        <ul>
            <li>&nbsp;<a href="#">2019 - December</a></li>
            <li>&nbsp;<a href="#">2019 - November</a></li>
            <li>&nbsp;<a href="#">2019 - October</a></li>
            <li>&nbsp;<a href="#">2019 - September</a></li>
            <li>&nbsp;<a href="#">2019 - August</a></li>
            <li>&nbsp;<a href="#">2019 - July</a></li>
            <li>&nbsp;<a href="#">2019 - June</a></li>
            <li>&nbsp;<a href="#">2019 - May</a></li>
            <li>&nbsp;<a href="#">2019 - April</a></li>
            <li>&nbsp;<a href="#">2019 - March</a></li>
            <li>&nbsp;<a href="#">2019 - February</a></li>
            <li>&nbsp;<a href="#">2019 - January</a></li>
        </ul>
        <div class="cleaner_with_divider">&nbsp;
        </div>
    </div>

    <div th:fragment="mi" id="mi">
        <div class="templatemo_content">
            <div class="templatemo_content_column_two">
                <div class="column_two_section">
                    <ul class="nav nav-pills" id="record_mi_Index">
                        <li id="n1" role="presentation" class="active"><a href="#" id="record_Info">简要</a></li>
                        <li id="n2" role="presentation" class="disabled"><a href="#" id="">详情</a></li>
                        <li id="n3" role="presentation" class="disabled"><a href="#">信息</a></li>
                        <li id="n4" role="presentation" style="position: relative; float: right"><a href="#" id="writeRecord">Write</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="mm1" id="mm1">
        <div th:each="c:${contentBrief}">

            <div class="templatemo_content">
                <div class="templatemo_content_column_two">
                    <div class="column_two_section">
                        <!--发表人-->
                        <h1><a href="http://www.cssmoban.com/" target="_parent" th:text="${c.userId}"></a></h1>
                        <div class="post_info">
                            <!--标题-->
                            <a href="#" th:text="${c.recordTitle}"></a>：
                        </div>
                        <!--内容-->
                        <span th:text="${c.contentBrief}"></span>
                        <span>...</span>
                        <!--图片-->
                        <img src="/static/record/templatemo_image_01.jpg" alt="image" style="width: 365px">
                        <div class="post_comment">
                            <!--评论数-->
                            <span style="position: relative;float: left">
                                ✔<a href="#"><span class="approve_record" th:text="${c.approveCount}"></span></a>&nbsp;&nbsp;&nbsp;
                            </span>
                            <span style="position: relative;float: left">
                                ✘<a href="#"><span class="disapprove_record" th:text="${c.disapproveCount}"></span></a>
                            </span>
                            <span style="position: relative;float: right">
                                <a href="#"><span class="comment">18 comments</span></a>
                            </span>
                        </div>
                        <div hidden="hidden">
                            <p th:text="${c.recordId}"></p>
                            <p th:text="${c.userId}"></p>
                            <p th:text="${c.recordTitle}"></p>
                            <p th:text="${c.publishTime}"></p>
                            <p th:text="${c.author}"></p>
                            <p th:text="${c.classify}"></p>
                            <p th:text="${c.viewCount}"></p>
                            <p th:text="${c.approveCount}"></p>
                            <p th:text="${c.disapproveCount}"></p>
                            <p th:text="${c.updateTime}"></p>
                            <p th:text="${c.isvalid}"></p>
                            <p th:text="${c.istop}"></p>
                            <p th:text="${c.contentDetail}"></p>
                            <p th:text="${c.contentBrief}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:fragment="mr1" id="mr1">
        <div class="templatemo_content">
            <div class="templatemo_content_column_three">
                <div class="column_three_section">
                    <div class="ad_section">
                        <h1>最近相册</h1>
                        <div class="ad_125x125_box">
                            <a href="#"><img src="/static/record/templatemo_ads.jpg" alt="ad"></a>
                        </div>
                        <div class="ad_125x125_box">
                            <a href="#"><img src="/static/record/templatemo_ads.jpg" alt="ad"></a>
                        </div>
                        <div class="ad_125x125_box">
                            <a href="#"><img src="/static/record/templatemo_ads.jpg" alt="ad"></a>
                        </div>
                        <div class="ad_125x125_box">
                            <a href="#"><img src="/static/record/templatemo_ads.jpg" alt="ad"></a>
                        </div>
                        <div class="cleaner">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="mr2" id="mr2">
        <div class="templatemo_content">
            <div class="templatemo_content_column_three">
                <div class="column_three_section">
                    <h1>最新留言</h1>
                    <ul class="popular_post">
                        <li><a href="#">爱吃鱼的猫</a><br>
                            留言1...
                            <span class="comment"><a href="#">(19)</a></span>
                        </li>
                        <li><a href="#">爱吃猫的鱼</a><br>
                            留言2...
                            <span class="comment"><a href="#">(21)</a></span>
                        </li>
                    </ul>
                </div>
                <div class="cleaner_with_divider">&nbsp;</div>
                <div class="cleaner">&nbsp;</div>
            </div>
        </div>
    </div>

    <div th:fragment="mr3" id="mr3">
        <div class="templatemo_content">
            <div class="templatemo_content_column_three">
                <div class="column_three_section">
                    <h1>关于</h1>
                    <p>个人博客......
                        <a href="#">read more</a>
                    </p>
                    <div class="cleaner">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="b1" id="b1">
        <div class="templatemo_bottom_panel">
            <div class="bottom_panel_section">
                <a href="#">Home</a> |
                <a href="#">说说</a> |
                <a href="#"> 日志</a> |
                <a href="#">相册 </a>|
                <a href="#">留言</a> |
                <a href="#">个人档</a> |
                <a href="#">返回顶部</a>
                <br>
                <hr>
                Copyright © 2019
                <a href="#"><strong>JGS_UNI</strong></a> |
                from
                <a href="http://www.cssmoban.com/" target="_parent">Summer</a>
            </div>
            <div class="cleaner">&nbsp;</div>
        </div>
    </div>

</div>
</body>
</html>