<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
/*加上ResponseBody&不加上ResponseBody效果一样！*/
/*load方式：body全清空，并返回特定的fragment(/record/RecordHome::fra)*/
/*ajax方式：body不清空，并返回特定的fragment(/record/RecordHome::fra)*/

$("#body").load(
"/record/recordSelect",
{"uid":uid, "password":password, "classifyId":classifyId, "pageNum":pageNum, "pageSize":pageSize},
function(response,status){
console.log(response);
});

$.ajax({
url: "/record/recordSelect",
type: 'POST',
success: function (data) {
console.log(data);
$("#mainContent").html(data);
}
});



</body>
</html>